<!DOCTYPE html>
<html lang="en">

<head>
  <style>


  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title> Thyrail's URL-Shortener </title>
</head>

<body>
  <div class="wrapper">

    <h1 class="h1">
      <span class="text-wrapper">
        <span class="letters">Thyrail's URL-Shortener</span>
        <span class="line"></span>
      </span>
    </h1>

    {{ message }}

    <div class="test">
      <form action="" method="POST">
        <label for="longUrl">Url</label>
        <input class="input" type="url" name="longUrl" id="fullUrl">
        <button class="button" type="submit">Shorten</button>
      </form>
    </div>

    <div class="output">
      <div class="tableheader">
        <span>Full URL</span>
        <span>Short URL</span>
        <span>Counter</span>
      </div>

      <table>
        <tbody>
        
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>

          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
          <tr>
            <td><a href=" longUrl "> longUrl </a></td>
            <td><a href=" shortUrlId "> shortUrlId </a></td>
            <td> shortUrl.clicks </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>