<img src="../assets/img/mamasys.svg" />
<h1 class="h1">URL-Shortener</h1>

<form #urlPost="ngForm" (ngSubmit)="onSubmit(urlPost.value, urlPost)" class="shortener-form">
  <input class="input" type="url" name="url" placeholder="URL eintragen" ngModel>
  <button class="button" type="submit">Shorten</button>
</form>

<div class="output">

  <table>
    <thead>
      <tr>
        <th>Full URL</th>
        <th>Short URL</th>
        <th>Counter</th>
      </tr>

    </thead>
    <tbody>

      <tr *ngFor="let url of urls; index as i">
        <td key="i" title="{{url.longUrl}}"><span>{{url.longUrl}}</span></td>
        <td key="i" title="{{url.shortUrl && url.shortUrl.split('/')[4]}}"><span>{{url.shortUrl &&
            url.shortUrl.split("/")[4]}}</span></td>
        <td key="i" title="{{url.counter}}"><span>{{url.counter}}</span></td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>