html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 600px;
    text-align: center;
}

.test {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.test>form {
    display: inline-block;
}

.tableheader {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.output {
    max-height: 500px;
    overflow-y: auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
}


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: purple;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.input {
    padding: 10px 15px;
    text-align: center;
    color: red;
    background-color: aqua;
    border: 10px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #34104d
}

.button:active {
    background-color: #520e38;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.h1 {
    font-weight: 200;
    font-size: 3.2em;
    color: rgb(52, 91, 175);
}